*.bed
*.bed.gz
*.o
debugData
myfile
cmpFile
src/output
writeString
writeString.cpp
output
wirteString*
data/*
big_decomp*
big_files.sh
decompress_result.txt
full_compress.sh
full_decompress.sh
template.sh
wholeTest.sh